body {
  background-color: #f8f6fd;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.dashboard {
  width: 600px;
  height: 470px;
  background-color: #fff;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

.dashboard {
  display: block;
  margin: 0 auto;
}

#current-date {
  font-size: 16px;
  text-align: right;
  padding-bottom: 6px;
}

#current-city {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #272142;
}
ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
h2 {
  font-size: 18px;
}
.humidity,
.wind {
  font-size: 14px;
}

img {
  max-width: 250px;
}

#humidity-percent,
#wind-speed,
#forecast-temperature-max {
  color: #ec6e4c;
  font-weight: bold;
}
#forecast-temperature-max,
#forecast-temperature-min {
  font-size: 12px;
  text-align: center;
}
#forecast-temperature-min {
  color: #fea82f;
  font-weight: bold;
}

#weather-forecast-day {
  text-align: center;
}
.button {
  display: inline;
  position: relative;
  left: 215px;
  bottom: 30px;
}
.coder {
  color: black;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}

#temperature {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.city,
.btn-location,
.btn-outline-secondary {
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.city {
  width: 350px;
  background: #f8f6fd;
}
#location-button {
  background-color: #fea82f;
}
#search-button {
  background-color: #ffc288;
}
a {
  color: #ec6e4c;
}
a .hover {
  color: #fea82f;
}
